<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>front</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" href="components/foundation/css/foundation.css">
    <link rel="stylesheet" href="components/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="components/foundation/css/normalize.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="components/modernizr/modernizr.js"></script>
    <script>var user = '<%= user %>';</script>

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name"><h1><a href="#">My Site</a></h1></li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section"> <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#">Right Button Active</a></li>
          <li class="has-dropdown"><a href="#">Right Button Dropdown</a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a></li>
              <li class="active"><a href="#">Active link in dropdown</a></li>
            </ul>
          </li>
        </ul>
        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">Left Nav Button</a></li>
        </ul>
      </section>
    </nav>

    <section role="main" class="scroll-container">
      <div class="row MyMain">

        <div class="large-3 columns">
          <div class="sidebar">
            <a href="#" class="button info" style="width: 100%">Anonymous</a>


            <ul class="side-nav">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>


          </div>
        </div>

        <br/>
        <div class="large-9 columns panel">
          <div class="row">

            <div class="chatNav large-12 columns">
              <ul class="pagination nav-left">
                <li class="arrow"><a href="">&laquo;</a></li>
              </ul>

              <ul class="pagination nav-left" id="room_tab">

              </ul>

              <ul class="pagination nav-right">
                <li class="arrow"><a href="">&raquo;</a></li>
              </ul>
            </div>

            <div class="All-Chat large-12 columns">

            </div>

            <div>
              <input type="button" id="test1"/>

              <div class="large-10 columns">
                <input type="text" id="message_input" placeholder="say something"/>
              </div>
              <div class="large-2 columns">
                <a class="button small tiny round" id="send">Send</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>


    <script src="components/jquery/dist/jquery.js"></script>
    <script src="components/foundation/js/foundation.min.js"></script>
    <script src="components/handlebars/handlebars.min.js"></script>
    <script src="components/underscore/underscore-min.js"></script>
    <script src="components/socket.io-client/socket.io.js"></script>

        <script src="scripts/temp.js"></script>
        <script src="scripts/helper.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/chatsocket.js"></script>
        <script src="scripts/event.js"></script>

</body>
</html>
