<div class="chat_content_group buddy" >
    <img class="chat_content_avatar" src="<%= portrait %>" alt="pic" height="40px" width="40px">
    <p class="chat_nick"><%= username %></p>
    <p class="chat_content "><%= content %></p>
</div>
